* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
  }
  
  li {
    list-style: none;
  }
  
  body {
    font-family: '微软雅黑';
    color: #333;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    display: block;
    border-bottom: 1px solid #000;
    font-size: 30px;
  }  
.wrapper {
    width: 800px;
    height: 850px;
    margin: 0 auto;
    /* background-color: skyblue; */
    padding: 20px;
    border: 1px solid #000;
}
p {
    font-size: 20px;
}
header {
    position: relative;
}
header h2 {
    font-weight: normal;
    font-size: 30px;
    border: 0 solid #000;
}
/* 照片 */
header .pic {
    width: 125px;
    height: 165px;
    background:url(../imges/my.jpg) no-repeat top/cover;
    position: absolute;
    right: 10px;
    top: 5px;
}
/* 经历 */
.experience p {
    display: flex;
    justify-content: space-between;
}
.time {
  position: absolute;
  bottom: 0;
  right: 0;
}
